<div style="width:80%;margin:0 auto;" class="titulo">
	<h1>Búsqueda de registro </h1>
</div>

<div style="width:60%;margin:0 auto;">

	<%= form_tag internals_path, method: :get do %>
		<p>
			<%= text_field_tag :query, params[:query] %>
			<%= submit_tag "Búscar", name: nil %>
		</p>
	<% end %>
	
	<ul class="no-list row center-xs borde">
		<li class="col-md">
			<p>Id</p>		
		</li>
		<li class="col-md">
			<p>Nombre</p>		
		</li>
		<li class="col-md">
			<p>Apellido</p>		
		</li>
		<li class="col-md">
			<p>Teléfono</p>		
		</li>
		<li class="col-md">
			<p>Consulta</p>		
		</li>
		<li class="col-md">
			<p>Editar</p>		
		</li>
		<% admins_only do %>
			<li class="col-md">
				<p>Imprimir</p>	
			</li>
		<% end %>
		<li class="col-md">
			<p>Eliminar</p>		
		</li>
	</ul>

	<% @internals.each do |internal| %>
		<ul class="no-list row center-xs">
			<li class="col-md">
				<p><%= internal.id %></p>		
			</li>
			<li class="col-md">
				<p><%= internal.nombre %></p>		
			</li>
			<li class="col-md">
				<p><%= internal.apellido %></p>		
			</li>
			<li class="col-md">
				<p><%= internal.tel %></p>		
			</li>
			<li class="col-md">
				<p><%= link_to "Consulta", internal %></p>		
			</li>
			<li class="col-md">
				<p><%= link_to "Editar", edit_internal_path(internal) %></p>		
			</li>
			<% admins_only do %>
				<li class="col-md">
					<p><%= link_to "Imprimir", "/internals/#{internal.id}/print" %></p>
				</li>
			<% end %>
			<li class="col-md">
				<p><%= link_to "Eliminar", internal, method: :delete,
	data: { confirm: "Estas seguro que quieres borrar ese usuario?"} %></p>		
			</li>
		</ul>
	<%end%>


</div>